OGL.txt
how_to_use_this.txt
ig_biosettings.lst
ig_classes.lst
ig_companionmods.lst
ig_deities.lst
ig_domains.lst
ig_equip_arms_armor.lst
ig_equip_general.lst
ig_equip_magic_items.lst
ig_equipmods.lst
ig_feats.lst
ig_kits.lst
ig_languages.lst
ig_profs_armor.lst
ig_profs_shield.lst
ig_profs_weapon.lst
ig_races.lst
ig_skills.lst
ig_spells.lst
